
* {
    box-sizing: border-box;
}
body {
    color: darkorange;
    /* background-color: #191036; */
    /* background-color: #0f0b2d; */
    background-color: rgb(5, 4, 16);
    background-color: black;
    font-family: 'Tillana', cursive;
    box-sizing: border-box;
}

.color-red {
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
}

.color-blue {
    color: blue;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 5px 1px darkblue;
}

.color-darkblue {
    color: blue;
    text-shadow: 1px 1px black;
}

.color-orange {
    color: orange;
    background-color: rgba(0, 0, 0, 0.2);
}

.color-darkorange {
    color: rgb(225, 124, 0);
    background-color: rgba(0, 0, 0, 0.1);
}





/* --------------------------------------------------cabecalho--------------------------------------------- */

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    box-sizing: border-box;
    overflow: hidden;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
   
    background-color:  black;
}

.cabecalho::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    position: absolute;
    background-image: url(../img/background-lua-sangrenta.webp);
    background-size: cover;
    opacity: 0.3;
}

.caixa-cabecalho {
    margin: 2em 0;
    width: 75%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}




.titulo-cabecalho {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.015);
    position: relative;
    width: 172.58px;
}


.titulo-cabecalho::before {
    content: attr(data-text);
    position: absolute;
    color: red;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    animation: color-transition 3s linear 1;
    filter: drop-shadow(0 0 20px darkblue) drop-shadow(0 0 50px darkblue);
    cursor: pointer;
}

@keyframes color-transition {
    0% {
        width: 0;
        border-right: 2px darkred solid;
    }

    99% {
        border-right: 2px darkred solid;
    }

    100% {
        width: 100%;
        border-right: none;
    }
}




.lista-fotos-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.3;
}

.imagem-cabecalho {
    width: 100%;
    height: 300px;
}

.paragrafo-cabecalho {
    display: none;
}

.textArray {
    display: block;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 1em;
    position: relative;
    border-radius: 10px;
    line-height: 1.35em;
    text-shadow: 1px 1px red;
    cursor: pointer;
    z-index: 10;
}

.textArray::after {
    content: '|';
    margin-left: 5px;
    color: orange;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    animation: opacityTecla 2s infinite;
}

@keyframes opacityTecla {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.muzan-img {
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    width: 50%;
    display: inline;
}

.prosseguir {
    font-size: 25px;
    font-weight: 500;
    margin-top: 1em;
    position: relative;
    color: red;
    transition: 250ms;
    cursor: pointer;
    z-index: 10;
    text-shadow: 1px 1px black;

}

.prosseguir::after {
    content: '';
}

.prosseguir:hover {
    font-size: 26px;
    font-weight: 500;
    margin-top: 1em;
    position: relative;
    color: darkred;
    text-decoration: underline;
    text-shadow: 1px 1px red;
}

.hide-cabecalho {
    animation: kj 1s linear 1;
    display: none;
}
@keyframes kj {
    0% {
        display: block;
    }
}


/* ------------------------------------------------------------------------ Main ----------------------------------------------------------------------------------------------- */


.container__principal {
    height: 100vh;
}

.container__conteudo {
    display: grid;
    grid-template-columns: 66% repeat(1, 1fr);
    height: 100vh;
}

.container__conteudo-secundario {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 66%;
    height: 100vh;
}

.container__conteudo-terciario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
}

.imagem-padrao {
    height: 100vh;
    position: relative;
}

.container__box {
    color: darkorange;
    text-align: center;
    line-height: 1.3em;
    width: 80%;
}

.titulo__principal{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0.6em;
    position: relative;
}

.paragrafo-principal {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.5em;
    position: relative;
    border-radius: 10px;
}

.container__side-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container__side-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}









/* -----akaza----- */

.container__akaza{
    background-image:
        linear-gradient(45deg, black,cyan);
}

.container__akaza-click{
    background-image:
        linear-gradient(45deg, black, black 45%);
}

.side__primal-akaza{
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: 
        url(../img/akaza/fundo/kanji-w-removebg-preview.png),
        url(../img/akaza/fundo/territorio-ice-3.png);
    background-size: 10%;
    background-repeat: space;
    background-position: center;
}


.titulo-akaza {
    color: rgb(255, 0, 43);
    text-shadow: 1.5px 1.5px rgb(0, 206, 206);
    text-decoration: underline;
}


.paragrafo-akaza {
    font-weight: 600;
    color: #010101;
    text-shadow: 1px 1px rgb(255, 0, 43);
    line-height: 1.3em;
    background-image: linear-gradient(to right,transparent, rgba(0, 0, 0, 0.342) 5%, rgba(0, 0, 0, 0.332) 95%, transparent);
}






.click-akaza {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    background-image: 
        url(../img/akaza/fundo/domo-red-cut.png);
    background-size: 10%;
    background-repeat: space;
    background-position: center;
    overflow: hidden;
    animation: opacityMain .5s ease-in 1;
}



.click-akaza > .imagem-primaria-akaza {
    display: none;
}

.imagem-primaria-akaza {
    cursor: pointer;
}

.akazaImage {
    height: 95%;
    position: relative;
    opacity: 1;
    cursor: pointer;
}


.side__secundario-akaza{
    display: flex;
    background-image:
        linear-gradient(to right,transparent, rgba(0, 0, 0, 0.17) 5%, rgba(0, 0, 0, 0.153) 95%, transparent),
        url(../img/akaza/Akaza\ Power\ Poster\ by\ Marsdk\ Art.png);
        
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}











/* -----Douma----- */


.side__primal-douma {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background: 
        linear-gradient(to top, rgb(0,0,42,0.7), rgb(0,0,22,0.6),  black);
    background-size: 4500% 4500%;
    animation: gradient 8s ease-in-out infinite;
    
}


.side__primal-douma::before,
.side__primal-douma::after {
    content:"";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
}

.side__primal-douma::before {

    
    background-image: url(../img/douma/fundo/—Pngtree—winter\ white\ christmas\ snowflakes\ falling_8533062.png);

    background-position: top;
    background-size: 170% 170%;
    background-repeat: no-repeat;
    opacity: 0.25;

    filter: blur(5px);
    animation: neve 16s linear infinite;
}

.side__primal-douma::after {
    
    background-image:
        url(../img/douma/fundo/kkkkkk-cut.png); 
    background-position: initial;
    background-size: 140% 140%;
    background-repeat: no-repeat;

    filter: blur(2px);
    opacity: 1;
    animation: neve 12s linear infinite;
    
}

.titulo-douma {
    color:darkblue;
    text-shadow: 2px 2px black;
    letter-spacing: 1.5px;
    font-weight: 900;
}

.paragrafo-douma {
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-image: 
    linear-gradient(to right,transparent, rgba(0, 0, 101, 0.12) 5%, rgba(0, 0, 101, 0.12) 95%, transparent);
    text-shadow: 0.3px 0.3px darkblue;
    box-shadow: 0.2px 0.2px 15px rgb(0, 0, 0, 0.1);
}

.flores-azuis {
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
}

.sakura-douma {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    width: 45%;
    z-index: 10;
}

.sakura {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    width: 45%;
    z-index: 10;
}




.side-secundario-douma {
    background-image: 
        url(../img/douma/fundo/gelido.jpg);
    display: flex;
    align-items: top;
}

.img-side-secundario {
    width: 250px;
}














/* ----------Kokushibou---------- */





.dd1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    animation: ann 1s linear 1;
}

.textBox-kokushibou  {
    width: 80%;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-65%);
    opacity: 1;
    
}

.textBox-kokushibou {
    animation: colorr 1.2s linear 1;
}

.kokushibouimg {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

@keyframes colorr {
    0%{
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0%{
        opacity: 0.45;
    }

    50%{
        opacity: 0.95;
    }

    100% {
        opacity: 0.45;
    }
}

.paragrafo_kokushibou{
    line-height: 1.25em;
    margin-top: 1.2em;
    background-color: rgba(0, 0, 0, 0.124);
    text-shadow: 1px 1px darkred;
}

.container__kokushibou {
    background-color: rgb(4, 4, 14);
    position: relative;
    overflow: hidden;
    transition: all 3s;
    font-size: 16px;
}

.container__kokushibou::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: 
        url(../img/kokushibou/luas/nevoa-cut.png);
    opacity: 0.5;
    z-index: 1;
    animation: nevoa 25s linear infinite;
}


.first-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom right, #550000, transparent 50%);
    transition: all 3s;
}

.first-side::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image:
        url(../img/kokushibou/luas/lua_sangrenta-cut-inverse.png);
    background-repeat: no-repeat;


        /* primal moon: */
    background-position: 50% 28%; 
    background-size: 45%;

   

}

.dd1 > .first-side::before {
    background-position: 50% 15%;
    background-size: 46%;
}



 /* ---container-central--- */


.conteudo-mid{
    display: none;
    transition: all 2s;
}


.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    background-color: black;

    box-shadow:
        -5px 0 15px red,
        5px 0 15px darkblue;
}


.mid::before,
.mid::after {
    content: "";
    position: absolute;
}

.mid::before {
    width: 180px;
    height: 140%;
    background-image: linear-gradient(#770000, rgb(9, 30, 80));
    background-color: black;
    animation: border-animation 4s linear infinite;
}

.mid::after {
    inset: 10px;
    background-color: black;
    
    background-image: 
        
        linear-gradient(to right, #55000094, transparent 6%),
        linear-gradient(to top, #55000094, transparent 6%),
        linear-gradient(to bottom, #55000094, transparent 6%),
        linear-gradient(to left, #55000094, transparent 6%),
        url(../img/kokushibou/bg.jpg);
    
}




.caixa-paragrafo {
    padding: 0.1em;
    background-color: rgb(0, 0, 0, 0.1);
    color: rgb(255, 159, 43);
    font-size: 16px;
    box-shadow: 
        2px 2px 10px rgb(0, 0, 0, 0.1),
        -2px -2px 10px rgb(0, 0, 0, 0.1);
}

.miniTexto-kokushibou {
    font-size: 10px;
    text-align: initial;
    color: rgba(255, 166, 0, 0.715);
}

.img-koku-shadow {
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translateX(-60%);
    display: inline;
    height: 45%;
    z-index: 1;
}

.img-olhos-koku {
    position: absolute;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    height: 42%;
    z-index: 1;
    opacity: 0.45;
    animation: opacity 4s linear infinite;
    
}

                    /* ---container-direito---- */

.second-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 3s;
    background-image:  linear-gradient(to bottom left, rgb(9, 33, 67), transparent 52%);
}

.second-side::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image:
        url(../img/kokushibou/luas/lua-cut.png);
    background-repeat: no-repeat;
    
    background-position: 50% 30%;
    background-size: 45%; 
}

.dd1 > .second-side::before {
    background-position: 50% 16%;
    background-size: 46%;
}







.img__kokushibou-oni {
    width: 50%;
    display: inline;
    position: absolute;
    bottom: 1em;
    z-index: 10;
}

.img__kokushibou-human {
    width: 50%;
    display: inline;
    position: absolute;
    bottom: 4em;
    z-index: 10;
}

.chao  {
    position: absolute;
    bottom: 0;
    display: inline;
    width: 100%;
    height: 25%;
    z-index: 110;
    cursor: pointer;
    opacity: 1; 
}

@keyframes ann {
    0% {
        grid-template-columns: 1fr 0fr 1fr;
    }
    100%{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@keyframes neve {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}


@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes nevoa {
    to {
        background-position: 100% 0%;
    }

    from {
        background-position: 0% 0%;
    }
}

@keyframes border-animation {
    to {
        transform: rotate(0deg)
    }

    from {
        transform: rotate(360deg);
    }
}

@keyframes opacityMain {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.arco-iris {
    background-image: linear-gradient(to right, red, orange, green, blue, indigo, #91489d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none ;
    position: relative;
    z-index: 1;
}

.arco-iris::before {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(0,0,0,0.08);
}


.anime {
    opacity: 0;
    transition: 1.2s;
}

.anime-start {
    opacity: 1;
}