
* {
    box-sizing: border-box;
}
body {
    color: darkorange;
    /* background-color: #191036; */
    /* background-color: #0f0b2d; */
    background-color: rgb(5, 4, 16);
    background-color: black;
    font-family: 'Tillana', cursive;
    box-sizing: border-box;
}

.color-red {
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
}

.color-blue {
    color: blue;
    background-color: rgba(0, 0, 0, 0.2);
}

.color-orange {
    color: orange;
    background-color: rgba(0, 0, 0, 0.2);
}

.color-darkorange {
    color: rgb(225, 124, 0);
    background-color: rgba(0, 0, 0, 0.1);
}




/* --------------------------------------------------cabecalho--------------------------------------------- */

.cabecalho {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, black, black);
}

.cabecalho::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/background-lua-sangrenta.webp);
    background-size: cover;
    position: absolute;
    opacity: 0.3;
}

.caixa-cabecalho {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.titulo-cabecalho {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1em;
    color: darkblue;
}

.lista-fotos-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.3;
}

.imagem-cabecalho {
    width: 100%;
    height: 300px;
}


/* ------------------------------------------------------------------------ Main ----------------------------------------------------------------------------------------------- */


.container__principal {
    height: 100vh;
}

.container__conteudo {
    display: grid;
    grid-template-columns: 66% repeat(1, 1fr);
    height: 100vh;
}

.container__conteudo-secundario {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 66%;
    height: 100vh;
}

.container__conteudo-terciario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
}

.imagem-padrao {
    height: 100vh;
    position: relative;
}

.container__box {
    color: darkorange;
    text-align: center;
    line-height: 1.3em;
    width: 80%;
}

.titulo__principal{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0.6em;
    position: relative;
}

.paragrafo-principal {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.5em;
    position: relative;
    /* background-color: rgb(0, 0, 0, 0.2); */
    border-radius: 10px;
}

.container__side-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container__side-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
    

}

/* -----akaza----- */

.container__akaza{
    background-image:
        linear-gradient(45deg, black,cyan);
}

.side__primal-akaza{
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: 
        url(../img/akaza/fundo/kanji-w-removebg-preview.png),
        url(../img/akaza/fundo/territorio-ice-3.png);
    background-size: 10%;
    background-repeat: space;
    background-position: center;
}

.side__secundario-akaza{
    display: flex;
    background-image:
        url(../img/akaza/Akaza\ Power\ Poster\ by\ Marsdk\ Art.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* -----Douma----- */


.side__primal-douma {
    display: flex;
    justify-content: center;
    position: relative;

    background:
        linear-gradient(to top, rgb(68, 68, 246), blue, darkblue, black);
    background-size: 400% 400%;
    animation: gradient 10s ease-in infinite;

}

.side__primal-douma::before {
    content:"";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: black;
    background-image: url(../img/douma/fundo/flor-azul-cut-4.png); 
    background-position: bottom;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.side__primal-douma::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image:
        url(../img/douma/fundo/kkkkkk-cut.png); 
    background-position: initial;
    background-size: 150% 150%;
    background-repeat: no-repeat;

    opacity: 0.5;
    animation: neve 10s linear infinite;
}


.side-secundario-douma {
    background-image: 
        url(../img/douma/fundo/gelido.jpg);
    display: flex;
    align-items: top;
}

.side-secundario-douma::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: s;
        /* linear-gradient(to left, black , transparent 40%); */
    opacity: 0.6;
}

.img-side-secundario {
    width: 250px;
}





/* ----------Kokushibou---------- */





.dd1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    animation: ann 1s linear 1;
    
}

.textBox-kokushibou  {
    width: 80%;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-65%);
    opacity: 1;
    
}

.textBox-kokushibou {
    animation: colorr 1.2s linear 1;
}

@keyframes colorr {
    0%{
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0%{
        opacity: 0.45;
    }

    50%{
        opacity: 0.95;
    }

    100% {
        opacity: 0.45;
    }
}

.paragrafo_kokushibou{
    line-height: 1.25em;
    margin-top: 1.2em;
    background-color: rgba(0, 0, 0, 0.124);
}

.container__kokushibou {
    background-color: rgb(4, 4, 14);
    position: relative;
    overflow: hidden;
    transition: all 3s;
}

.container__kokushibou::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: 
        url(../img/kokushibou/luas/nevoa-cut.png);
    opacity: 0.5;
    z-index: 1;
    animation: nevoa 25s linear infinite;
}


.first-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom right, #550000, transparent 50%);
    transition: all 3s;
}

.first-side::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image:
        url(../img/kokushibou/luas/lua_sangrenta-cut-inverse.png);
    background-repeat: no-repeat;


        /* primal moon: */
    background-position: 50% 28%; 
    background-size: 45%;

   

}

.dd1 > .first-side::before {
    background-position: 50% 15%;
    background-size: 46%;
}



 /* ---container-central--- */


.conteudo-mid{
    display: none;
    transition: all 2s;
}


.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    background-color: black;

    box-shadow:
        -5px 0 15px red,
        5px 0 15px darkblue;
}


.mid::before,
.mid::after {
    content: "";
    position: absolute;
}

.mid::before {
    width: 180px;
    height: 140%;
    background-image: linear-gradient(#770000, rgb(9, 30, 80));
    background-color: black;
    animation: border-animation 4s linear infinite;
}

.mid::after {
    inset: 10px;
    background-color: black;
    
    background-image: 
        
        linear-gradient(to right, #55000094, transparent 6%),
        linear-gradient(to top, #55000094, transparent 6%),
        linear-gradient(to bottom, #55000094, transparent 6%),
        linear-gradient(to left, #55000094, transparent 6%),
        url(../img/kokushibou/bg.jpg);
    
}




.caixa-paragrafo {
    padding: 0.1em;
    background-color: rgb(0, 0, 0, 0.1);
    color: rgb(255, 159, 43);
    box-shadow: 
        2px 2px 10px rgb(0, 0, 0, 0.1),
        -2px -2px 10px rgb(0, 0, 0, 0.1);
}

.img-koku-shadow {
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translateX(-60%);
    display: inline;
    height: 45%;
    z-index: 1;
}

.img-olhos-koku {
    position: absolute;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    height: 42%;
    z-index: 1;
    opacity: 0.45;
    animation: opacity 4s linear infinite;
    
}




                    /* ---container-direito---- */

.second-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 3s;
    background-image:  linear-gradient(to bottom left, rgb(9, 33, 67), transparent 52%);
}

.second-side::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image:
        url(../img/kokushibou/luas/lua-cut.png);
    background-repeat: no-repeat;
    
        /* samira */
    background-position: 50% 30%;
    background-size: 45%;


    
}

.dd1 > .second-side::before {
    background-position: 50% 16%;
    background-size: 46%;
}







.img__kokushibou-oni {
    width: 50%;
    display: inline;
    position: absolute;
    bottom: 1em;
}

.img__kokushibou-human {
    width: 50%;
    display: inline;
    position: absolute;
    bottom: 4em;
}

.chao  {
    position: absolute;
    bottom: 0;
    display: inline;
    width: 100%;
    height: 25%;
    z-index: 10000;
    cursor: pointer;
    opacity: 1 !important; 
}

@keyframes ann {
    0% {
        grid-template-columns: 1fr 0fr 1fr;
    }
    100%{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@keyframes neve {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}


@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes nevoa {
    to {
        background-position: 100% 0%;
    }

    from {
        background-position: 0% 0%;
    }
}

@keyframes border-animation {
    to {
        transform: rotate(0deg)
    }

    from {
        transform: rotate(360deg);
    }
}